* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #223a3a;
  color: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #111f1f;
}

main {
  text-align: center;
}

footer {
  background: #223a3a;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10%;
  padding-bottom: 2%;
}

header h1 {
  color: #fff;
}

#suprafata-populatie {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#suprafata,
#populatie {
  margin-top: 10px;
}

.number {
  font-size: 32px;
  font-weight: bold;
  color: #223a3a;
}

#informatii-utile {
  margin-top: 60px;
  margin-bottom: 60px;
}

.info-item {
  margin-bottom: 20px;
}

.info-item h3 {
  margin-bottom: 20px;
  color: #223a3a;
}

.expand-btn {
  background-color: #223a3a;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.expand-btn-formulare {
  background-color: #223a3a;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 20px;
}

.info-item .details {
  display: none;
  margin: 2%;
}

.info-item .details.show {
  display: flex;
  flex-direction: column;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

.header-image {
  width: 100%;
  height: 50%;
  display: block;
  filter: blur(8px);
  position: relative;
  object-fit: cover;
}

main {
  background-color: #fff;
}

.titluri {
  padding: 50px;
  color: #223a3a;
  font-size: 32px;
}

#atractii {
  background-color: #e3e6e6;
  margin-bottom: 40px;
  padding: 20px;
}

#asezarea-geografica {
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#baieti {
  color: #223a3a;
  font-size: large;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.baiat {
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 33%;
}

.titluri-functii {
  font-size: 20px;
  color: #f3f3f3;
  text-shadow: -1px 3px 3px black;
  background-color: #223a3a;
}

#butoane-nav {
  text-align: right;
}

#logo {
  width: 20%;
  margin: 5px;
  margin-left: 0px;
}

#bun-venit {
  text-align: center;
  position: absolute;
  font-weight: bolder;
  color: #e3e6e6;
  margin-top: 15%;
  text-shadow: 1px 1px 1px black;
  width: 60%;
}

#utile {
  display: flex;
  justify-content: space-around;
}

#locuri {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.atractie {
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 33%;
  background-color: white;
  width: 500px;
}
.imagini-locuri {
  padding-top: 5%;
  width: 400px;
  height: 70;
}

#text-asezare {
  width: 64%;
  text-align: center;
  margin: 0 auto;
}

#titlu-anunt {
  padding: 50px;
  color: #223a3a;
  font-size: 32px;
}

#text-anunt {
  padding: 50px;
  color: #080c0c;
}

#text-contact {
  padding: 10px;
  padding-left: 50px;
  color: #080c0c;
}

.tabele {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  margin-right: 10px;
}

@media only screen and (max-width: 1280px) {
  header {
    flex-direction: row;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .header-image {
    height: auto;
  }

  .center-wrapper {
    flex-direction: column;
    align-items: center;
  }

  #baieti {
    flex-direction: column;
    align-items: center;
  }

  .baiat {
    width: 90%;
  }

  .titluri-functii {
    font-size: 16px;
  }

  #locuri {
    flex-direction: column;
    align-items: center;
  }

  .atractie {
    width: 40%;
  }

  .imagini-locuri {
    width: 100%;
    height: auto;
  }

  #text-asezare {
    width: 90%;
  }

  .tabele {
    margin-bottom: 20px;
  }

  #bun-venit {
    width: 90%;
    margin-top: 20%;
    font-size: 1rem;
    text-align: center;
  }
  #logo {
    width: 30%;
  }
}
